body {
    margin: 0;
}

.Intestazione {
    text-align: center;
    background-color: #ededed;
    border-bottom: 2px solid orange;
}

h2 {
    color: orange;
}

h3 {
    font-style: italic;
}

main {
     padding: 0 1rem;
     border-bottom: 2px solid orange;
}

footer {
    padding: 0 1rem;
}